.fw-categories {
	padding: 5px 0;
}
.fw-categories a {
	color: #999;
    border: 1px solid #999;
    text-align: center;
    padding: 5px 10px;
    width: 49%;
    margin: 5px 0;
    font-size: 14px;
}
.fw-categories a:focus,
.fw-categories a:hover {
	color: #fff;
	background: #3a2c04;
}
@media (min-width: 576px) {
	.fw-categories a {
	    margin: 5px;
	    width: auto;
	    border-right: 1px solid #999;
	}
}
@media (min-width: 992px) {
	.fw-categories a {
		margin: 0;
		border-right: 0;
		font-size: 16px;
	}
	.fw-categories a:last-child {
		border-right: 1px solid #999;
	}
}